data/
data_quick/
raw_data/
*.fma
*.mp3
*.wav

build/
vst/build/
vst/JUCE/
CMakeUserPresets.json
.clangd
.cache/

ui/node_modules/
ui/package-lock.json
npm-debug.log*

.venv/
venv/
**/__pycache__/
*.py[cod]

.vscode/
Thumbs.db
.DS_Store